---
const currentYear = new Date().getFullYear();
---

<footer class="site-footer">
	<div>Copyright {currentYear} Stone Dragon Media. All rights reserved.</div>
	<a href="/privacy-policy">Privacy Policy</a>
</footer>